/* Main, body, elements*/
main {
    margin-top: 95px;
}
/* Common Themes */
.bg-bidpro {
    background-color: #83a4c4;
}
/* Styling */
.bold {
  font-weight: 350;
}
/* NavBarView */
.navbar {
    padding: 0px !important;
}
.navbar-brand {
    padding: 0px !important;
}
.navbar-dark .navbar-nav .nav-link {
    color: white;
  }
.navbar-light .navbar-nav .nav-link {
    color: rgba(255,255,255,.85);
}
.nav-link {
  color: white;
}
/* AirlineView */
.card-group {
    display: flex;
    justify-content: space-around;
}
/* JubtroView */
.sub-heading {
  font-family:'Times New Roman', Times, serif;
}
.jumbotron {
  padding: 2rem 1rem;
  margin-bottom: 2rem;
  background-color: #e9ecef;
  border-radius: .3rem;
  width: 100%;
}
@media (max-width: 768px) {
    .display-3 {
      font-size: 32px;
    }
  }
.table-container {
    min-width: 800px;
  }
.flex-table {
    display: flex;
    flex-flow: row wrap;
    justify-self: center;
  }
.flex-table:nth-child(odd) .flex-row {
    background-color: #f8f8f8;
  }
.flex-table:first-of-type .flex-row {
    background-color: #83a4c4;
    color: white;
    border-color: black;
  }
.flex-row {
    width: calc(100% / 7);
    text-align: center;
    padding: 1px;
  }
  .hidden {
    display: none;
  }
  @media (max-width: 1200px) and (min-width: 769px) {
    .display-3 {
      font-size: 48;
    }
    
  }
  @media (max-width: 568px) {
    .display-3 {
      font-size: 24px;
    }
    .container-fluid img{
      display: none;
    }
  }